@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  @apply p-1 mt-3 border-b;
}

svg {
  cursor: pointer;
  color: #3b82f6;
}

svg:hover {
  @apply scale-110;
}

.btn {
  @apply px-6 py-1 text-white duration-100 bg-indigo-600 rounded-md shadow-md cursor-pointer active:opacity-80 active:shadow-sm;
}

ul li {
  @apply px-4 py-1 bg-gray-50 hover:bg-gray-200;
}

@media print {
  * {
    box-shadow: none !important;
    text-shadow: none !important;
    color: black !important;
    background-color: white !important;
    border-color: black !important;
  }
  img {
    display: none !important;
  }

  .no-print {
    display: none !important;
  }
}
