@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

.input {
  @apply border-b p-1;
}

svg {
  cursor: pointer;
  color: #3b82f6;
}

svg:hover {
  @apply scale-110;
}

.btn {
  @apply bg-blue-500 rounded-md shadow-md px-6 cursor-pointer py-1 text-white active:opacity-80;
}

ul li {
  @apply bg-gray-50 px-4 py-1 hover:bg-gray-200;
}
