@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  user-select: none;
}

.input {
  @apply p-1 border-b;
}

svg {
  cursor: pointer;
  color: #3b82f6;
}

svg:hover {
  @apply scale-110;
}

.btn {
  @apply px-6 py-1 text-white bg-indigo-600 rounded-md shadow-md cursor-pointer;
}

ul li {
  @apply px-4 py-1 bg-gray-50 hover:bg-gray-200;
}
